@model Proyecto.Models.Municipio

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>


@if (ViewBag.Error != null)
{
    <h3>@ViewBag.Error</h3>
}
else
{
    <h3>Esta seguro de eliminar este registro?</h3>
}



<div>
    <h4>Municipio</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
