<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Torneos</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Torneos Deportivos Municipales ", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                    <li>@Html.ActionLink("Acerca de los Torneos", "About", "Home")</li>
                    <li>@Html.ActionLink("Contacto", "Contact", "Home")</li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Registrese <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Municipios", "Index", "Municipios")</li>
                            <li>@Html.ActionLink("Torneos", "Index", "Torneos")</li>
                            <li>@Html.ActionLink("Patrocinadores", "Index", "Patrocinadors")</li>
                            <li>@Html.ActionLink("Entrenadores", "Index", "Entrenadors")</li>
                            <li>@Html.ActionLink("Equipos", "Index", "Equipos")</li>
                        </ul>
                    </li>

                    <li>@Html.ActionLink("Ingrese", "Index", "Logins")</li>
                    <li>@Html.ActionLink("Salir", "Salir", "Logins")</li>
                </ul>
                @*  @Html.Partial("_LoginPartial") *@
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Torneos Deportivos-Ángela Sánchez --Sena Regional Caldas</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
